body{margin: 0;font-family: 'Montserrat', sans-serif;width: 100vw;overflow-x: hidden;}
body::-webkit-scrollbar {width:6px; background:rgba(85,143,167,0.1);}
body::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);}
body::-webkit-scrollbar-thumb {background-color:#000;border-radius: 4px;}
body::-webkit-scrollbar:horizontal {height:6px;}
body::-webkit-scrollbar:vertical {width:6px;}

h3{text-align: center;}

.table-container{overflow-x: scroll;margin-left: 175px;padding-right: 1px;box-sizing: border-box;padding-bottom: 1px;}
.table-container::-webkit-scrollbar {width:10px; background:rgba(85,143,167,0.1);}
.table-container::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.3);}
.table-container::-webkit-scrollbar-thumb {background-color:#102631;}
.table-container::-webkit-scrollbar:horizontal {height:10px;}
.table-container::-webkit-scrollbar:vertical {width:10px;}

table{border-collapse:separate}

thead{background-color: #102631;color: #fff;}
thead tr th{padding: 10px;}
thead tr th.vaccine{text-align: left;position: absolute;background-color: #102631;width: 153px;left:0;top:auto;border-left: 2px solid #fff;border-right: 2px solid #fff;}
thead tr th.sub-title{background-color: #d5d6d8;color: #000;}

tbody{background-color: #d5d6d8;color: #000;font-weight: 400;}
tbody tr td{padding: 5pt;text-align: center;}
tbody tr td.vaccine-imun{font-weight: 800;text-align: left;position: absolute;background-color: #d5d6d8;width: 160px;left:0;top:auto;border-left: 2px solid #fff;border-right: 2px solid #fff;}
tbody tr td.doses{background-color:#fed105}
tbody tr td.notes{background-color:#74ad99}
tbody tr td.risk{background-color:#b896c6}
tbody tr td.align-left{text-align: center;}

/* .table2-container{overflow-x: scroll;padding-right: 1px;box-sizing: border-box;padding-bottom: 1px;width: 100vw;} */
table.table-2 tbody tr td{background-color: #eeeeef;text-align: left;white-space: normal;vertical-align: baseline;}
table.table-2 tbody tr td:nth-child(2), table.table-2 tbody tr td:first-child{width: 150px;}
table.table-2 tbody tr td:nth-child(3), table.table-2 tbody tr td:nth-child(5), table.table-2 tbody tr td:nth-child(6){width: 200px;}
table.table-2 tbody tr td:nth-child(4){width: 400px;}
thead tr th,tbody tr td{font-size: 12px;white-space: nowrap;}

ul.legend {padding: 0;display: grid;grid-template-columns: repeat(3,1fr);list-style: none;font-size: 10px;}
ul.legend li {display: flex;justify-content: center;align-items: center;padding: 5px;}
ul.legend li span{padding: 8px 8px;margin-right: 2px;}
@media screen and (max-width:801px){
    ul.legend{display: list-item;}
    ul.legend li{justify-content: flex-start;}
}